@page "/"
@using Syncfusion.Blazor.Inputs

<h6>Hi, Amit</h6>
<hr />

<div class="row" style="justify-content:center;padding-left:10%;padding-right:10%;">
    <div class="col">
        <div class="e-input-group">
            <input class="e-input" type="text" placeholder="Search and explore mutual funds">
            <span class="oi oi-magnifying-glass" style="transform: translate(-50%, 20%);"></span>
        </div>

        <div class="col-sm-6 col-md-6" style="padding-left:0;padding-right:0;">
            <div class="rounded summarybox">

            </div>
        </div>

        <div class="rounded summarybox">

        </div>

        <div class="row responsiverow">
            <div class="col">
                <div class="rounded summarybox">

                </div>
            </div>
            <div class="col">
                <div class="rounded summarybox">

                </div>
            </div>
        </div>

    </div>
</div>

@code {

}
