@page "/funds"

    <div class="row" style="justify-content:center;padding-left:10%;padding-right:10%;">
        <div class="col">
            <div class="rounded summarybox">

            </div>

            <div class="rounded fundsbox">

            </div>


        </div>
    </div>

@code {

}
